@{
    ViewData["Title"] = "CE电子看板（轮换）";
    Layout = null;
}
<!DOCTYPE html>
<html class="hundred-height">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    @*<meta name="viewport" content="width=device-width, initial-scale=1" />*@
    <title>CE电子看板（轮换）</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/small.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/echarts.min.js"></script>
    <script src="~/js/Common.js"></script>
</head>
<body id="body" class="hundred-height" style="background-image: url('/images/bglarge.png')">
    <script type="text/javascript">
        //初始化
        App.Init();
        //根据窗口的大小变动图表 --- 重点
        window.onresize = function () {
            for (var i = 0; i < 40; i++) {
                myChart1[i].resize();
                myChart2[i].resize();
                myChart3[i].resize();
            }

        };
        var i = 1;
        clearInterval(timeScreen);
        clearInterval(timeRefresh);
        //1分钟切一次屏幕
        var timeScreen = setInterval(function () {
            i = i + 1;
            if (i % 5 === 1) {
                App.ShowIndex();
            } else if (i % 5 === 2) {
                App.DataBind_A();
            }
            else if (i % 5 === 3) {
                App.DataBind_B();
            } else if (i % 5 === 4) {
                App.DataBind_C();
            } else {
                App.DataBind_D();
            }
        }, changespeed * 1000);
        //10分钟刷新一次数据
        var timeRefresh = setInterval(function () {
            App.InitData();
        }, refreshspeed * 1000);
    </script>
</body>
</html>