@{
    ViewData["Title"] = "CE电子看板（轮换）";
    Layout = null;
}
<!DOCTYPE html>
<html class="hundred-height">
<head>
    <meta charset="utf-8">
    <title>CE电子看板（轮换）</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/echarts.min.js"></script>
    <script src="~/js/Common.js"></script>
    <style type="text/css">
        /*
            机台盒子模型
        */
        .box {
            border: 1px;
            border-color: #ceaa9d;
            border-radius: 5px;
            border-style: solid;
            height: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 5px;
            display: block;
        }

        .hundred-height {
            height: 100% !important;
        }

        .hundred-width {
            width: 100% !important;
        }

        .row-margin {
            height: 32%;
            margin-bottom: 10px;
        }

        .process {
            border: 2px #ffffff solid;
            border-radius: 5px;
            color: #0064B4;
            height: 50px;
            margin: 0;
            margin-left: 20px;
            margin-top: 20px;
            padding: 0;
            width: 92%;
            /*box-shadow:4px 4px 4px rgba(255,255,255,0.4);*/
        }

        .process-p {
            color: #ffffff;
            font-size: 30px;
            font-weight: bold;
            height: 30px;
            left: 35%;
            line-height: 220px;
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
            top: -140px;
            width: 100px;
        }

        .p-name {
            color: white;
            font-size: 30px;
            height: 45px;
            margin-left: 25px;
            margin-top: 3px;
            position: relative;
        }

        .p-num {
            background-color: #39c931;
            border-radius: 5px;
            color: white;
            float: right;
            font-size: 30px;
            height: 45px;
            margin-right: 6%;
        }

        .img-css {
            height: 45px;
            margin-left: 10px;
        }

        .chart-css {
            float: left;
            height: 150px;
            /*margin-top: -25%;*/
            width: 150px;
        }
    </style>
</head>
<body id="body" class="hundred-height" style="background-image: url('/images/bg1.png')">
    <script type="text/javascript">
        //初始化
        App.Init();
        console.log(changespeed);
        console.log(refreshspeed);
        //var i = 1;
        //clearInterval(timeScreen);
        //clearInterval(timeRefresh);
        ////1分钟切一次屏幕
        //var timeScreen = setInterval(function () {
        //    i = i + 1;
        //    if (i % 4 === 1) {
        //        App.DataBind_A();
        //    } else if (i % 4 === 2) {
        //        App.DataBind_B();
        //    }
        //    else if (i % 4 === 3) {
        //        App.DataBind_C();
        //    } else {
        //        App.DataBind_D();
        //    }
        //}, changespeed * 1000);
        ////10分钟刷新一次数据
        //var timeRefresh = setInterval(function () {
        //    App.InitData();
        //}, refreshspeed * 1000);
    </script>
</body>
</html>